
.App {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-weight: normal;
  font-size: 25px;
  text-transform: uppercase;
}

button {
  font-weight: normal;
  font-size: 25px;
  text-transform: uppercase;
}

p {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab {
  margin: 10px;
  border-radius: 10px;
}

.tab:hover {
  cursor: pointer;
  background-color: #00000010;
}

.TimerBlock {
  margin: 0 20px;
  border: #FFFFFF solid 2px;
  border-radius: 10px;
}

.button {
  background-color: #0000004D;
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.button:hover {
  background-color: #0000002F;
}

.button:active {
  background-color: #00000067;
}
